
.deliverymain{
  display: flex;
  gap:20%;
.side{
  z-index: 1;
}
.delivery{
  display: flex;
  flex-direction: column;
  flex: 3;
    
      
.headdelivery{
  display: flex;
  gap: 40%;
  padding-bottom: 1%;
  
.titledelivery{
    display: flex;
    flex-direction: column;
    gap: 10%;
    font-weight:bold;
    color: black;
    font-size: 122%;
    
    .headdeliv{
      display: flex;
      font-size: 40px;
      font-weight: bold;
      color: #8a8888;
      
  }
    input[type=Search]{
      height:40px;
      width: 80%;
      border: 1px solid rgb(188, 188, 188);
      padding-right: 30%;
      border-radius: 5px;
      background: #c3cad2;
      margin:10% 0% 10% 0%;
      font-size: 130%;
    }
    
      
      .input-icone{
        display: flex;
        position:relative; }
      .input-icone i{
      position:absolute; 
      left: 65%; 
      padding:30px 8px; 
      color:#838481; }
  
      input[type=Search]:hover {
      background: #f2f2f2; }
    
   .material-icons{
     
     font-size: 120%;
   }
    }
    
  
  }

  .tabdelivery{
    border-radius: 10px;
    margin-right: 10%;
    .radio{
      margin-right: 22%;
    }
    .cellname{
      font-size: 150%;
      color: #656662;
    }
  .circle{
    padding-left: 22%;
    font-size: 150%;
    color: #656662;
  }
  .stat{
    padding-left: 13%;
    font-size: 200%;
    color: #656662;
  }
  .reguliere {
   
    border-radius: 4px;
    font-size: 80%;
    font-weight: bold;
    color: white;
    font-size: 100%;
    &.Done { 
      background: #29CC97;
      padding: 5% 8% 0% 8%;
      
    }
    &.Incomplete {
      background: #FEC400;
      padding: 5% 1% 0% 1%;
    }
    
  }
  img{
    padding-right: 2%;
  }
  .line{
    display: flex;
    justify-content: flex-end;
    gap: 5%;
    
    .material-icons{
      font-size:300% ;
      color: #838481;
    }
}
  }
}
}
