
.facturemain{
    display: flex;
    gap: 20%;
    .side{
      z-index: 1;
    }
  .facture{
    display: flex;
    flex-direction: column;
    flex: 3;
      
        
  .headfacture{
    display: flex;
    gap: 37%;
    padding-bottom: 1%;
  .titlefacture{
    display: flex;
    flex-direction: column;
    gap: 10%;
    font-weight:bold;
    color: black;
    font-size: 122%;
    .headfact{
      display: flex;
      font-size: 28px;
      font-weight: bold;
      color: #8a8888;
    }
      input[type=Search]{
        height:40px;
        width: 80%;
        border: 1px solid rgb(188, 188, 188);
        padding-right: 30%;
        border-radius: 5px;
        margin-top: 10%;
        background: #c3cad2;
        font-size: 130%;
      }
      
        
        .input-icone{
          display: flex;
          position:relative; }
        .input-icone i{
          position:absolute; 
          left: 65%; 
          padding:30px 8px; 
          color:#838481; }
    
        input[type=Search]:hover {
        background: #f2f2f2; }
      
     .material-icons{
       
       font-size: 120%;
     }
      }
      
       
   
    }
    
    .headincoive{
      position: relative;
      display: flex;
      margin: 0% 0% 2% 0%;
      gap: 30%;
      padding-top: 2%;
      .chosestore{
        display: flex;
        gap: 10%;
        .labelstore{
          font-size: 170%;
          font-weight: bold;
        }
        .select{
          padding: 5% 0% 5% 45%;
          background-color: #bfc6c6;
          border: none;
          width: 200%;
          height: 80%;
          border-radius: 5px;
          font-size: 120%;
          .optionstore{
            font-size:1%;
          }
        }
        .iconselect{
          position: absolute;
          color: #535454;
          padding: 0.4% 0% 0% 1%;
  
          }
      }
      .del{
        display: flex;
        gap: 3%;
        cursor: pointer;
        font-size: 150%;
        color: #fff;
       
        padding: 1% 3% 1% 5%;
        background: #FF7A7A;
        border-radius: 5px;
        border: none;
        align-items: center;
       
      }
      
      .popdel{
        z-index: 222;
      }
      
    
    }
  
  .tabfacture{
    
   
    
    
    border-radius: 10px;
    
    margin-right: 10%;
   
.cellprod{
  font-size: 150%;
    display: flex;

  .radio{
    margin-right:5%;    }
}
 
  
  
  
  .cell{
   
    font-size: 150%;
    .icondel{
      color: #535454;
    }
  }
  
 
  }
  
  .addfacture{
    margin-top: 2%;
    margin-left:20% ;
    cursor: pointer;
    width: 44%;
    height: 10%;
    font-size: 100%;
    color: #fff;
    padding: 2% 2% 2% 2%;
    background: #747979;
    border-radius: 5px;
    border: none;
    align-items: center;
  }
.popinvet{
 z-index: 2;
}
.devis{
  
  display: flex;
  flex-direction: column;
  gap: 2%;
  border: 1px solid black;
  background-color: #fff;
  width: 35%;
  margin-top: 5%;
  margin-left:50% ;
  padding: 2% 0% 2% 2%;
.deviscont{
  font-weight: bold;
  font-size: 150%;
}
}
.confirmerfacture{
  margin-top: 20%;
    margin-left:10% ;
    cursor: pointer;
    width: 65%;
    height: 10%;
    font-size: 200%;
    color: #fff;
    padding: 2% 2% 2% 2%;
    background: #037D87;
    border-radius: 5px;
    border: none;
    align-items: center;
    
    
  
 

}
  }
  
  }
  
   
    
  
  