
.historymain{
    display: flex;
    gap: 20%;
    .side{
      z-index: 1;
    }
  .history{
    display: flex;
    flex-direction: column;
    flex: 3;
      
        
  .headhistory{
    display: flex;
    gap: 37%;
    padding-bottom: 1%;
  .titlehistory{
    display: flex;
    flex-direction: column;
    font-weight:bold;
    color: black;
    font-size: 122%;
    .headhist{
        display: flex;
        font-size: 40px;
        font-weight: bold;
        color: #8a8888;
    }
    input[type=Search]{
      height:40px;
      border: 1px solid rgb(188, 188, 188);
      width: 80%;
      border-radius: 5px;
      margin: 8% 0% 10%;
      background: #c3cad2;
      font-size: 130%;
    }
    
      
      .input-icone{
        display: flex;
        position:relative; 
      }
      .input-icone i{
        position:absolute; 
        left: 65%; 
        padding:30px 8px; 
        color:#838481; 
    
      
      }
  
      input[type=Search]:hover {
      background: #f2f2f2; }
    
   .material-icons{
     
     font-size: 120%;
   }
  }
      
       
   
    }
    
    .headincoive{
      position: relative;
      display: flex;
      margin: 0% 0% 2% 0%;
      gap: 47%;
      padding-top: 2%;
      
    
    }
  
  .tabhistory{
    
    border-radius: 10px;
    
    margin-right: 10%;
   
    .status {
   
        border-radius: 4px;
        font-size: 150%;
        font-weight: bold;
        color: white;
        padding-left: 5%;
        &.done { 
         color: #29CC97;
        
          
        }
        &.undone {
            color: #f43434;
        }
    }
    .cellprod{
      font-size: 150%;
      display: flex;
      .radio{
        margin-right:5%;    }
    }
    .cell{
     
      font-size: 150%;
      .material-icons{
        font-size: 200%;
        color: #535454;
      }
    }
  
 
  
  }
  

  }
  
  }
  
   
    
  
  