.homemain{
    display: flex;
    gap: 30%;
    .side{
      z-index: 1;
    }
    .home{
        display: flex;
        flex-direction: column;
        flex: 3;
        .home-center{
    



            .cards{
        display: flex;
        flex-direction: column;

        .linecard{
            display: flex;
             gap: 30%;
            padding-top: 5%;
           
            .cardstore{
                padding: 20% 145% 20%  80%;
                border-radius: 5px;
                background-color: #f5f5f5;
                border: 1px solid #8a8888;
                text-align: center;
                cursor: pointer;
                &:hover{
    
                    color: rgb(81, 81, 248);
                    outline: 3px solid rgb(81, 81, 248);
                   
                  }
                .iconcard{
                    font-size: 600%;
                    padding-bottom: 2%;
                    color: #8a8888;
                }
                .titlecard{
                    font-size: 1.5em;
                    font-weight: bold;
                    padding-bottom: 2%;
                    color: #8a8888;
                    display: flex;
                    
                }
        
            }
            .cardvehicule{
                padding: 20% 160% 20%  75%;
                border-radius: 5px;
                background-color: #f5f5f5;
                border: 1px solid #8a8888;
                text-align: center;
                cursor: pointer;
                &:hover{
    
                    color: rgb(81, 81, 248);
                    outline: 3px solid rgb(81, 81, 248);
                   
                  }
                .iconcard{
                    font-size: 600%;
                    padding-bottom: 2%;
                    color: #8a8888;
                }
                .titlecard{
                    font-size: 1.5em;
                    font-weight: bold;
                    color: #8a8888;
                    display: flex;
                }
        
            }
            .cardinvetory{
                padding: 25% 160% 25%  65%;
                border-radius: 5px;
                background-color: #f5f5f5;
                border: 1px solid #8a8888;
                text-align: center;
                cursor: pointer;
                &:hover{
    
                    color: rgb(81, 81, 248);
                    outline: 3px solid rgb(81, 81, 248);
                   
                  }
                .iconcard{
                    font-size: 600%;
                    padding-bottom: 2%;
                    color: #8a8888;
                }
                .titlecard{
                    font-size: 1.5em;
                    font-weight: bold;
                    color: #8a8888;
                    display: flex;
                }
            }

            .cardadd{
                padding: 23% 155% 23%  65%;
                
                border-radius: 5px;
                background-color: #f5f5f5;
                border: 1px solid #8a8888;
                text-align: center;
                cursor: pointer;
                &:hover{
    
                    color: rgb(81, 81, 248);
                    outline: 3px solid rgb(81, 81, 248);
                   
                  }
                .iconcard{
                    font-size: 600%;
                    padding-bottom: 2%;
                    color: #8a8888;
                }
                .titlecard{
                    font-size: 1.5em;
                    font-weight: bold;
                    color: #8a8888;
                    display: flex;
                }
            }
        }
            .linecardend{
                display: flex;
             gap: 23%;
            padding-top: 5%;
            
            .cardhistory{
                padding: 20% 110% 20%  40%;
                border-radius: 5px;
                background-color: #f5f5f5;
                border: 1px solid #8a8888;
                text-align: center;
                cursor: pointer;
                &:hover{
    
                    color: rgb(81, 81, 248);
                    outline: 3px solid rgb(81, 81, 248);
                   
                  }
                .iconcard{
                    font-size: 600%;
                    padding-bottom: 2%;
                    color: #8a8888;
                }
                .titlecard{
                    font-size: 1.5em;
                    font-weight: bold;
                    padding-bottom: 2%;
                    color: #8a8888;
                    display: flex;
                }
            }
            .cardscan{
                padding: 28% 150% 28%  70%;
                margin-left: 5%;
                border-radius: 5px;
                background-color: #f5f5f5;
                border: 1px solid #8a8888;
                text-align: center;
                cursor: pointer;
                &:hover{
    
                    color: rgb(81, 81, 248);
                    outline: 3px solid rgb(81, 81, 248);
                   
                  }
                .iconcard{
                    font-size: 600%;
                    padding-bottom: 2%;
                    color: #8a8888;
                }
                .titlecard{
                    font-size: 1.5em;
                    font-weight: bold;
                    padding-bottom: 2%;
                    color: #8a8888;
                    display: flex;
                }
            }
        }
          
        }
    }


}


}