.storemain{
    display: flex;
    gap: 10%;
    .store{
        display: flex;
        flex-direction: column;
        flex: 3;
        .inputs{
            display: flex;
            flex-direction: column;
            margin:0% 10% 0% 40%;
            width: 40%;
            .input{
                position: relative;
                display: flex;
                flex-direction: column;
                text-align: center;
                .iconinput{
                    position: absolute;
                    color: #535454;
                    padding: 5% 3% 5% 2%;
                }
                .btnstore{
                    background-color: aqua;
                    padding: 1% 1% 1% 1%;
                    color:  #fff;
                }
            }
        }
    }
}