.storemain{
    display: flex;
    gap: 10%;
    .store{
        display: flex;
        flex-direction: column;
        flex: 3;
        .inputs{
            display: flex;
            flex-direction: column;
            margin:2% 10% 0% 40%;
            
            align-items: center;
            .input{
                position: relative;
                display: flex;
                flex-direction: column;
                text-align: center;
                width: 90%;
            
                
                .champ{
                    
                    display: flex;
                    width: 80%;
                    margin-left: 15%;
                    border: none;
                }
                .iconinput{
                    position: absolute;
                    color: #535454;
                    padding: 6% 3% 5% 2%;
                }
                .btnstore{
                    background-color: aqua;
                    padding: 1% 1% 1% 1%;
                    color:  #fff;
                }
            }
        }
    }
}