.storemain{
    display: flex;
    gap: 10%;
    .store{
        display: flex;
        flex-direction: column;
        flex: 3;
        .inputs{
            display: flex;
            flex-direction: column;
            width: 20%;
            padding-top:2% ;
            margin:2% 10% 0% 30%;
            
           .Iconhead{
            margin-left: 140%;
            
           }
            
            
                .form{
                    display: flex;
                    flex-direction: column;
                    padding: 5% 22% 5% 20%;
                    margin-top:20%; 
               
                .label{
                    font-size: 150%;
                    font-weight: bold;
                    color: #504f4f;
                }
                .formicon{
                    position: relative;
                    border: 1px solid black;
                    background-color: #d0d6d6;
                    width: 500%;
                    padding: 10% 0% 10% 0%;
                    border-radius: 5px;
                    input{
                        width: 80%;
                        margin-left: 15%;
                        border: none;
                        background-color: #d0d6d6;
                        font-size: 150%;
                    }
                    
                    .icona{
                        position:absolute;
                        color: #535454;
                        padding: 0% 0% 0% 2%;
                    }
                }
                .formbtn{
                    position: relative;
                    border: 1px solid #0B7C86;
                    background-color: #0B7C86;
                    border-radius: 5px;
                    width: 500%;
                    padding: 10% 0% 10% 0%;
                    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                         box-shadow: 2px 4px 10px 1px rgba(127, 124, 124, 0.47);
                    cursor: pointer;
                         .btnstore{
                        
                        background-color: #0B7C86;
                        width: 88%;
                        margin-left: 10%;
                        border: none;
                        font-size: 160%;
                        color: #f2e7e7;
                   }
                   .icona{
                    position:absolute;
                    color: #f2e7e7;
                    padding: 0% 0% 0% 20%;
                }
                }
            }
           
        }
    }
}